$border-primary: rgba(33, 63, 125, 0.06);
$primary: #545F7D;

.tableWrapper {
   width: 100%;
    background: #fff;
    padding: 0 3rem 2rem 3rem;
    border-radius: 4px;
 box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    overflow-x: auto;
    position: relative;
    max-height: 600px;
}

.table {
display: table;
      border-spacing: 0 1.5rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  border-collapse: collapse;
    font-family: var(--font-work-sans);
tr{
  border-bottom: 1px solid #e5e7eb;
}
     tr:last-child {
    border-bottom: none;
  }
}

.company, .username{
  text-transform: capitalize;
}

.th {
  padding: 2.5rem 0.5rem 2rem 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: $primary;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 600;

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }
  .thContent {
  display: flex;
  align-items: flex-start; 
  gap: 0.6rem;
}

}


.fiter_button{
cursor: pointer;
}

  .filter{
    cursor: pointer;
    width: 16px;
    height: 16px;
  }
.td {
  padding: 1.5rem 0.5rem;

    border-collapse: collapse;
  font-size: 1.4rem;
  font-weight: 400;
  color: $primary;
  white-space: nowrap;
}


.status {
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
}

.active {
  color: #39cd62;
  background: rgba(57, 205, 98, 0.1);
}

.inactive {
  color: #545f7d;
  background: rgba(84, 95, 125, 0.1);
}

.pending {
  color: #e9b200;
  background: rgba(233, 178, 0, 0.1);
}

.blacklisted {
  color: #e4033b;
  background: rgba(228, 3, 59, 0.1);
}

.ellipsis{
  cursor: pointer;
}



.dropdown {
  position: fixed;
  min-width: 160px;
  background: #fff;
  border-radius: 8px;
  padding: 1rem 0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  z-index: 20;
}

.dropdownItem {
  padding: 0.8rem 1.2rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
color: $primary;

}

.loading_data_container, .data_not_found_container{
  width: 100%;
  height: 100%;
  td{
    text-align: center;
    padding:1.4rem 0 ;
  }
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    color: #213F7D;
  }
}

.error_container{
  width: 100%;
  height: 100%;
  td{
    text-align: center;
    padding:1.4rem 0 ;
  }
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    color: red;
  }
}
