$primary: #213F7D;
$secondary: #545F7D;



.details_card {
  background: white;
  width: 100%;
  max-width: none;
  padding: 3rem;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(33, 63, 125, 0.06);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-self: stretch;
   font-family: var(--font-work-sans);
   overflow-x: auto;
}

.info_section_wrapper {
  width: 100%;
  padding: 2rem 0 3rem 0;
  &:first-child { padding-top: 0; }
  
  // The dividing border
  &:not(:last-child) {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  }
}

.section_title {
  font-size: 1.6rem;
  font-weight: 500;
  color: $primary;
  margin-bottom: 3rem;
}

.info_grid {
   display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem 2rem;

  @media (max-width: 1100px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.info_item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
;

  .info_label {
    font-size: 1.2rem;
    color: $secondary;
    font-weight: 400;
    text-transform: uppercase;
    text-wrap: nowrap;
  }

  .info_value {
    font-size: 1.6rem;
    font-weight: 500;
    color: $secondary;
    word-break: break-word;

  }
}