$primary: #213F7D;
$secondary: #545F7D;
$light-green: #39CDCC;


.container
{
    width: 100%;
    max-width: 100%;
    padding: 8rem 0rem 4rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    font-family: var(--font-work-sans);

    @media (max-width: 768px) {
       padding: 14rem 0rem 4rem 0rem;
  }
     
}

  .back_button{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    .arrow_back{
        width: 2rem;
    }
    span{
        font-weight: 400;
        font-size: 1.4rem;
        color: $secondary;
    }
  }

.heading_button_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

     @media (max-width: 768px) {
flex-direction: column;
align-items: start;
gap: 1.5rem;
     }
 .heading{
        font-weight: 500;
        font-size: 2rem;
        color: $primary;
  
  }
  .button_container{
    display: flex;
    align-items: center;
    gap: 1.5rem;

    button{
        border-radius: 8px;
        padding: 1.2rem 1.4rem;
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: uppercase;

 
    }
  }
  }

 .blacklist_user{
border: 1px solid #E4033B;
color: #E4033B;
        }
        .activate_user{
border: 1px solid $light-green;
color: $light-green;
        }
    
        .first_card_container{
            width: 100%;
            padding: 2rem 4rem 0 4rem;
            background-color: white;
            box-shadow: 3px 5px 20px 0px #0000000A;
border-radius: 4px;
display: flex;
flex-direction: column;
gap: 2rem;
  @media (max-width: 768px) {
 padding: 2rem 2rem 0 2rem;
     }
        }

.profile_container{
    width: 100%;
display: flex;
           flex-direction: row;

  @media (max-width: 1024px) {
flex-direction: column;
align-items: start;
gap: 1.5rem;
     }
 
}

.profile_container > div {
  padding: 0 3rem;
    @media (max-width: 1024px) {
padding: 0;
     }
}


.profile_container > div:first-child {
  padding-left: 0;
}


.profile_container > div:last-child {
  padding-right: 0;
}

/* vertical dividers */
.profile_container > div:not(:last-child) {
  border-right: 1px solid rgba(84, 95, 125, 0.2);
    @media (max-width: 1024px) {
border-right: 0;
     }
}
        .avatar_username_container{
           display: flex;
           flex-direction: row;
           gap: 2rem; 
           align-items: center;
             @media (max-width: 850px) {
flex-direction: column;
align-items: start;
gap: 1.5rem;
     }
        }

        .avatar{
            padding: 3rem;
            background-color: rgba(33, 63, 125, 0.3);
            border-radius: 50%;

        }
        .profile_icon{
            width: 4rem;
            height: 4rem;
        }
        .username{
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            h2{
color: $primary;
font-weight: 500;
font-size: 2.2rem;
   @media (max-width: 768px) {
text-wrap: nowrap;
   }


            }
            p{
color: $secondary;
font-weight: 400;
font-size: 1.4rem;
            }
        }
.user_tier_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    h3{
        font-size: 1.4rem;
        font-weight: 500;
        color: $secondary;

    }
}

        .star_container{
           display: flex;
           gap: 0.6rem; 
           
           svg {
    width: 16px;
    height: 16px;
  }
        }

        .user_balance_container{
            display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    h2{
font-weight: 500;
color: $primary;
font-size: 2.2rem;
    }
    p{
      font-weight: 400;
color: $primary;
font-size: 1.4rem;  
    }
        }


        .navlinks_container {
            width: 100%;
            max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
   @media (max-width: 768px) {
      display: flex;
  justify-content: flex-start;
   }
}

.navlink {
  padding: 1.2rem 0;
  font-size: 1.4rem;
  color: $secondary;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  text-wrap: nowrap;
}

.active {
  color: $light-green;
  font-weight: 500;

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $light-green;
  }
}

.message_text{
   font-size: 1.8rem;
    font-weight: 500;
    color: $primary;
}
.message_text_error{
   font-size: 1.8rem;
    font-weight: 500;
    color: red;
}

