$primary: #39cdcc;
$button-primary: #545f7d;
$secondary:  #213f7d;
$hover-primary: rgba(57, 205, 204, 0.08);


.sidebar {
  width: 280px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 10rem 0 2rem 0;
  overflow-y: auto;
  font-family: var(--font-work-sans);
  @media (max-width: 1024px) {
    width: 240px;
  }

  @media (max-width: 768px) {
    position: fixed;
    left: 0;
    padding: 2rem 0 2rem 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 200;
  }
}
.close_container{
  @media (max-width: 850px) {
    display: flex;
    align-self: flex-end;
    padding: 1rem;
  }
 
.close_icon{
  display: none;
   @media (max-width: 850px) {
    display: block;
     width: 30px;
      height: 30px;
      color: $secondary;
      cursor: pointer;
    }
}}

.mobile_sidebar {
  transition: transform 0.3s ease-out;
  transform: translateX(0);
}



.topbarButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  color: #545f7d;
  font-size: 1.4rem;
  cursor: pointer;


  .arrow_icon{
    height: 8px;
  }
}


.nav {
  flex: 1;
  margin-top: 2rem;
}

.link,
.sidebarButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 1.5rem;
  color: $button-primary;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.2s ease;

  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: $hover-primary;
  }
}


.activeLink {
   display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 1.5rem;
  font-size: 1.4rem;
  background-color: rgba(57, 205, 204, 0.12);
  border-left: 4px solid $primary;
  color: $secondary;
  width: 100%;
}

.subheading {
  margin: 2rem 1.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #9ca3af;
}

.disabledLink {
  display: flex;
  align-items: center;
  gap: 1rem;
 padding: 1.2rem 1.5rem;
  color: $button-primary;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
&:hover {
    background-color: $hover-primary;
  }
}


.bottomTabs{
   border-top: 1px solid #e0e0e0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  .version_text{
    padding: 1.5rem 1.5rem;
  color: $button-primary;
  font-size: 1.2rem;
  font-weight: 400;
  }
}
.bottombarButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1.5rem;
  color: $button-primary;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  .logout_icon{
    width: 16px;
    height: 16px;
  }
}