$primary: #39cdcc;
$button-primary: #545f7d;
$secondary:  #213f7d;


.sidebar {
  width: 280px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 10rem 0 2rem 0;
  overflow-y: auto;
  font-family: var(--font-work-sans);
  @media (max-width: 1024px) {
    width: 240px;
  }

  @media (max-width: 768px) {
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100vh - 70px);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 200;
  }
}


.sidebarOpen {
  transform: translateX(0);
}

.topbarButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  color: #545f7d;
  font-size: 1.4rem;
  cursor: pointer;


  .arrow_icon{
    height: 8px;
  }
}


.nav {
  flex: 1;
  margin-top: 2rem;
}

.link,
.sidebarButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 1.5rem;
  color: $button-primary;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.2s ease;

  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: rgba(57, 205, 204, 0.08);
  }
}


.activeLink {
   display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 1.5rem;
  font-size: 1.4rem;
  background-color: rgba(57, 205, 204, 0.12);
  border-left: 4px solid $primary;
  color: $secondary;
  width: 100%;
}

.subheading {
  margin: 2rem 1.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #9ca3af;
}

.bottomTabs{
   border-top: 1px solid #e0e0e0;
  margin-top: 40px;
}
.bottombarButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1.5rem;
  color: $button-primary;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;

}