$blue-primary: #213f7d;
$accent-blue: #545f7d;


@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNext-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNext-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
 --font-avenir-next: "AvenirNext", Helvetica, Arial, sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  font-family: var(--font-avenir-next);
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fbfbfb;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #213f7d;
  border-radius: 4px;
}

